.high-scores{
    display: none;
    position: relative;
    font-family: 'blankaregular';
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid red;
    width: 1200px;
    height: 500px;
    z-index: 1;
}

.high-score{
    color: red;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 70px;
}

.table{
    width: 50%;
}

.table > thead > tr th{
    color :red;
    font-size: 28px;
    text-align: center;
}


.table > tbody  tr td{
    color :white;
    font-size: 18px;
    text-align: center;
}