@font-face {
    font-family: 'blankaregular';
    src: url('../fonts/blanka-regular-webfont.woff2') format('woff2'),
         url('blanka-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#video_background { 
    /* width: 100%;
    height: 100%;
    position: fixed;   
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);  
    z-index: -100;
    background-size: cover; */
    position: absolute; 
	bottom: 0px; 
	right: 0px; 
	min-width: 100%; 
	min-height: 100%; 
	width: auto; 
	height: auto; 
	z-index: -1000; 
    overflow: hidden; 
    background-size: cover;
}


.start-view{
    position: relative;
    font-family: 'blankaregular';
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid red;
    width: 1200px;
    height: 500px;
    z-index: 1;
}

.start-view div{  
    color: red;
}

.title-game{
 display: flex;
 justify-content: center;
}

.title-game object{
    padding-top: 20px;
    position: absolute;
    height: 150px;
    
}
.selectedCharacterText{
    display: none;
    position: absolute;
    top: calc(50% - 130px);
    animation: selectChar 1S infinite;
}

.selectedLeft{
    left: calc(75% + 65px);
}

.selectedRight{
    left: calc(25% - 119px);  
}
  
  @keyframes selectChar {
    0% {
        font-size: 3rem
    }
    50%{
        font-size: 2.50rem
    }
    100% {
        font-size: 2rem
    }
  }

.image-character{
    position: absolute;
    border-radius: 25%;
    border:5px solid red;
    width: 155px;
    height: 155px;
}

.image-character:hover{
    box-shadow: inset 0px 0px 37px 10px rgba(255,0,0,1), 0px 0px 37px 10px rgba(255,0,0,1);
    animation: box-sahow 1S infinite;
}

.selected-player{
    box-shadow: inset 0px 0px 37px 10px rgba(255,0,0,1), 0px 0px 37px 10px rgba(255,0,0,1);
}

@keyframes box-sahow {
    0% {
        box-shadow: inset 0px 0px 37px 10px rgba(255,0,0,1), 0px 0px 37px 10px rgba(255,0,0,1);
    }
    50%{
        box-shadow: inset 0px 0px 37px 15px rgba(255,0,0,1), 0px 0px 37px 15px rgba(255,0,0,1);
    }
    100% {
        box-shadow: inset 0px 0px 37px 10px rgba(255,0,0,1), 0px 0px 37px 10px rgba(255,0,0,1);
    }
  }

.character-one{
    top: calc(50% - 75px);
    left: calc(25% - 170px);
}

.character-two{
    top: calc(50% - 75px);
    right: calc(25% - 170px); 
}

.buttons-characters{
    position: absolute;
    width: 100%;
    margin-top: 135px;
    
}
/* .ih-item.circle.effect2.left_to_right{
    display: none;
} */

.start-game-button{
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}



.text-select-character{
    position: absolute;
    align-self: center;
    animation: selectChar 1S infinite;
}
  
  @keyframes selectChar {
    0% {
        font-size: 1.25rem
    }
    50%{
        font-size: 1.50rem
    }
    100% {
        font-size: 1.25rem
    }
  }

  #chooseRobot {
      width: 100%;
      height: 100%;
  }


    