@font-face {
    font-family: 'blankaregular';
    src: url('../fonts/blanka-regular-webfont.woff2') format('woff2'),
         url('blanka-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.start-view{
    position: relative;
    font-family: 'blankaregular';
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid red;
    width: 1200px;
    height: 500px;
    z-index: 1;
}
.start-view div{  
    color: red;
}

.title-game{
 display: flex;
 justify-content: center;
}

.title-game img{
    padding-top: 20px;
    position: absolute;
    height: 150px;
    
}

.image-character{
    position: absolute;
    
    border:1px solid red;
    width: 125px;
    height: 200px;
}

.character-one{
    top: calc(50% - 100px);
    left: calc(25% - 125px);
}

.character-two{
    top: calc(50% - 100px);
    right: calc(25% - 125px); 
}

.buttons-characters{
    position: absolute;
    width: 100%;
    margin-top: 135px;
    
}

.start-game-button{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.selected-player{
    border:3px solid blue;
}

.text-select-character{
    position: absolute;
    align-self: center;
    animation: selectChar 1S infinite;
}
  
  @keyframes selectChar {
    0% {
        font-size: 1.25rem
    }
    50%{
        font-size: 1.50rem
    }
    100% {
        font-size: 1.25rem
    }
  }